<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap-multisite.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="false">
    <testsuites>
        <testsuite name="Multisite Integration">
            <directory>tests/Integration/Multisite</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>plugins/corex-core/src</directory>
        </include>
    </source>
</phpunit>
